node_modules/
.env
knowledge/
data/
electron/
documents/
*.log
docs/log.text

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.pytype/

# Python builds
build/
dist/
*.egg-info/
*.egg
*.whl

# Virtual environments
venv/
ENV/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.pytest_cache/